/* Flujo */
.article-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 o 5 columnas por fila */
    gap: 1rem;
    padding: 1rem;
}

.card{
    border: 0;
}

.article {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.article:hover {
    transform: scale(1.05);
}


/*Para visualizar detalles de pieza o agregar pieza*/
.grid-container-item{
    display: grid;
    gap: 20px;
    grid-template:
    "header"
    "main"
    "footer"
    ;

    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
        background-color: #eaf4fc;
        margin-right: 20px;
    }

    .footer{
        background-color: #d9e2e9;
        grid-area: footer;
        padding: 2%;
    }

    @media (min-width:992px){
        grid-template:
        "header header header" 55px
        "navbar main main" auto
        "footer footer footer" 100px/
        0px auto 200px;
    }
}



