
body{
    background: #EAF4FC;
    min-height: 100vh;
}

footer {
    background-color: #d9e2e9;
    padding: 25px 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.table {
    margin: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table thead tr {
    border-bottom: 2px solid #004680;
}

.container {
    padding: 0;
    border-radius: 0.4rem;
    overflow: hidden;
}

.container-login{
    height: 550px;
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container-email-send{
    height: 350px;
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container-register{
    height: 600px;
    width: 500px;
}

button:active {
    animation: click 0.1s ease;
}

.btn {
    white-space: nowrap; /* Evita que el texto se divida en varias lineas */
    overflow: hidden;    /* Oculta el texto que se sale*/
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.grid-container > *{
    text-align: center;
    padding: 0px;
}

.grid-container{
    display: grid;
    gap: 20px;
    grid-template:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer"
    ;

    .header{
        grid-area: header;
    }

    .sidebar{
        grid-area: navbar;
        background-color: #fff;
        margin-left: 20px;
        overflow: hidden;
        justify-items: center;
        align-items: center;
 
    }

    .main{
        grid-area: main;
        background-color: #eaf4fc;
        margin-right: 20px;
    }

    .footer{
        background-color: #d9e2e9;
        grid-area: footer;
        padding: 2%;
    }

    @media (min-width:992px){
        grid-template:
        "header header header" 55px
        "navbar main main" auto
        "footer footer footer" 100px/
        400px auto 200px;
    }
}