
body{
    background: #EAF4FC;
}

footer {
    background-color: #ececec;
    padding: 25px 0;
    text-align: center;
}
.table {
    margin: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table thead tr {
    border-bottom: 2px solid #0d6efd;
}

.container {
    padding: 0;
    border-radius: 0.4rem;
    overflow: hidden;
}

.container-login{
    height: 550px;
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container-email-send{
    height: 350px;
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container-register{
    height: 600px;
    width: 500px;
}

/*algunas animaciones*/
.hoverx {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hoverx:hover {
    transform: translateX(50px);
}

.hovery {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hovery:hover {
    transform: translateY(-25px);
}

button:active {
    animation: click 0.1s ease;
}


@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
